<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Ritesh Parekh</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perspiciatis officia eius ea, natus voluptatum a sunt atque culpa dolor ullam repudiandae ratione architecto quibusdam nihil earum reiciendis nemo rerum?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4 ml-md-4">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1">About Us</a></li>
                        <li><a href="#" class="py-1">Contact Us</a></li>
                        <li><a href="#" class="py-1">Terms & Conditions</a></li>
                        <li><a href="#" class="py-1">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Have a Questions?</h3>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li class="py-1"><i class="bi bi-geo-alt"></i>  15, Shubh Residency, Ahmeddabad 380058</li>
                            <li class="py-1"><a href="#"><i class="bi bi-phone"></i> +91- 9974969561</a></li>
                            <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> riteshoct7@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Copyright © @DateTime.Now.Year | All rights reserved | This website is made with <i class="bi bi-heart" aria-hidden="true"></i> by <a href="http://ritesh.com" target="_blank">www.ritesh.com</a>
            </div>
        </div>
    </div>

</footer>
